rag_record_manager_workflow.json
{
  "name": "RAG Record Manager – PostgreSQL + Ollama",
  "nodes": [
    {
      "parameters": {},
      "id": "550e8400-e29b-41d4-a716-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst fs = require('fs');\n\nconst filePath = '/home/lars/Documents/TalkToMe/knowledge_base/chunks/jena_digital_chunks.jsonl';\nconst filename = 'jena_digital_chunks.jsonl';\n\nconst content = fs.readFileSync(filePath, 'utf8');\nconst fileHash = crypto.createHash('sha256').update(content).digest('hex');\n\nconst lines = content.trim().split('\\n').filter(l => l.trim());\n\nreturn lines.map(line => {\n  const chunk = JSON.parse(line);\n  return {\n    json: {\n      text: chunk.text,\n      filename: filename,\n      file_hash: fileHash,\n      chunk_id: chunk.id,\n      ...chunk.metadata\n    }\n  };\n});"
      },
      "id": "550e8400-e29b-41d4-a716-000000000002",
      "name": "Load & Parse JSONL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "jsCode": "return [$input.all()[0]];"
      },
      "id": "550e8400-e29b-41d4-a716-000000000003",
      "name": "Get First Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 260]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT file_hash FROM document_records WHERE filename = $1) AS file_hash",
        "additionalFields": {
          "queryParams": "={{ [$json.filename] }}"
        }
      },
      "id": "550e8400-e29b-41d4-a716-000000000004",
      "name": "Check File Hash",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [860, 260],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-hash-check",
              "leftValue": "={{ $json.file_hash }}",
              "rightValue": "={{ $('Load & Parse JSONL').first().json.file_hash }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "550e8400-e29b-41d4-a716-000000000005",
      "name": "Hash Unchanged?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 260]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_embeddings WHERE metadata->>'filename' = $1",
        "additionalFields": {
          "queryParams": "={{ [$('Load & Parse JSONL').first().json.filename] }}"
        }
      },
      "id": "550e8400-e29b-41d4-a716-000000000006",
      "name": "Delete Old Vectors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 360],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO document_records (filename, file_hash)\nVALUES ($1, $2)\nON CONFLICT (filename) DO UPDATE SET file_hash = EXCLUDED.file_hash, updated_at = NOW()",
        "additionalFields": {
          "queryParams": "={{ [$('Load & Parse JSONL').first().json.filename, $('Load & Parse JSONL').first().json.file_hash] }}"
        }
      },
      "id": "550e8400-e29b-41d4-a716-000000000007",
      "name": "Upsert Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1520, 360],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Load & Parse JSONL').all();"
      },
      "id": "550e8400-e29b-41d4-a716-000000000008",
      "name": "Return All Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 360]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "document_embeddings",
          "mode": "list",
          "cachedResultName": "document_embeddings"
        },
        "options": {}
      },
      "id": "550e8400-e29b-41d4-a716-000000000009",
      "name": "Insert into Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [1960, 360],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "model": "bge-m3",
        "options": {
          "dimensions": 1024
        }
      },
      "id": "550e8400-e29b-41d4-a716-000000000010",
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [1960, 540],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_OPENAI_CRED_ID",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load & Parse JSONL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load & Parse JSONL": {
      "main": [
        [
          {
            "node": "Get First Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Item": {
      "main": [
        [
          {
            "node": "Check File Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Hash": {
      "main": [
        [
          {
            "node": "Hash Unchanged?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Unchanged?": {
      "main": [
        [],
        [
          {
            "node": "Delete Old Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Vectors": {
      "main": [
        [
          {
            "node": "Upsert Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Record": {
      "main": [
        [
          {
            "node": "Return All Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return All Chunks": {
      "main": [
        [
          {
            "node": "Insert into Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "2"
}
