docker/n8n/STT Webhook.json
{
  "name": "STT Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stt",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "04aac6b4-b1e8-4a70-a978-9ff13558d0f4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        -64
      ],
      "webhookId": "a1b2c3d4-0001-0001-0001-000000000002"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "# JEDI – Jena Digital Innovation Hub Avatar\n\nDu bist JEDAI, der digitale Assistent des Jena Digital Innovation Hubs.\nDu informierst Besucher:innen über den Hub, Events und Angebote von Jena Digital.\n\n## Werkzeug\nDu hast Zugriff auf einen Vektorspeicher (`pgvector_search`).\nBevor du über Events, Termine oder aktuelle Angebote antwortest, durchsuche ihn immer zuerst.\nWenn du dort keine relevante Information findest, sag das ehrlich.\n\n## Verhalten\n- Antworte kurz, klar und in natürlicher Sprache – du wirst vorgelesen.\n- Maximal 2–3 Sätze pro Antwort. Nur bei Nachfrage mehr.\n- Begrüße Besucher:innen herzlich, aber ohne Floskeln.\n- Duze die Nutzer:innen.\n- Sprich Deutsch, wechsle auf Englisch wenn der Nutzer Englisch spricht.\n- Stelle bei Unklarheit genau eine Rückfrage.\n- Keine Markdown-Formatierung, keine Listen, keine Sonderzeichen.\n\n## Grenzen\n- Nur Themen rund um Jena Digital, den Hub und sein Ökosystem.\n- Bei unbekannten Themen: kurz ablehnen und zurück zum Hub leiten."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        176,
        -64
      ],
      "id": "1edee9a4-5704-44c2-8272-a684714ede78",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        144
      ],
      "id": "0d3ad52b-f6d2-445e-b57a-581515cc107b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q6c2ARImcsgzxLLM",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Das sind die Informationen zu Jena Digital",
        "tableName": "document_embeddings",
        "topK": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        352,
        192
      ],
      "id": "9e1c74c5-e9b8-462e-a53e-6d6b3c37764d",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "GbnBvjGa90w4Hg4j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://192.168.2.33:5500/api/output-json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "\"online\""
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        -64
      ],
      "id": "29452f3f-1b53-44e5-b1a6-3c9b771dfa18",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        736,
        -64
      ],
      "id": "026134ea-3006-4769-ad81-297bff6456e0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        448,
        400
      ],
      "id": "7a3fa9b3-4b7b-4e4e-a229-b3eceeb1e136",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "4DQNbzpjSbXRqjF2",
          "name": "Azure Open AI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8a15ddb6-e462-4f02-a3da-2fea98692339",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53f0b17ddea5672f3cd5a97bad5bcecd0f9f8e4974e8331259fda63d6d398858"
  },
  "nodeGroups": [],
  "id": "o7jmPmNqmXtZNRpA",
  "tags": []
}